html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.app {
  width: 450px;
  margin: 0 auto;
}

.imageCard {
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.imageCard h1 {
  font-size: 18px;
  color: #444;
  margin: 0;
  padding: 0;
}

.imageCard img {
  display: block;
  max-width: 100%;
}

.selected {
  background: lightblue;
}

